@media only screen and (max-width: 600px) {
  header {
    position: sticky;
    top: 0;
    background-color: white;
    .logo {
      h2 {
        display: none !important;
      }
    }
    .flexible {
      text-align: end;
      width: 50%;
      position: relative;
      nav {
        display: block;
        position: absolute;
        width: 150%;
        top: 68px;
        // left: -50px;
        // left: 300px;
        // transform: translateX(-50px);
        transform: translateX(300px);
        transition: 0.4s;

        ul {
          overflow: hidden;
          flex-direction: column;
          background-color: #71a894;
          padding: 20px;
          height: auto;
          padding-bottom: 800px;
          li {
            color: white;
            a {
              color: white !important;
            }
          }
        }
      }
      i {
        display: block !important;
        &:hover nav {
          display: block;
        }
      }
    }
  }
  .section-1 {
    padding: 10px 30px !important;
    flex-direction: column-reverse;
    margin-bottom: 65px !important;
    img {
      width: 100%;
    }
    .left {
      text-align: center;
      margin-top: 30px !important;
      h1 {
        font-size: 40px !important;
      }
    }
  }
  .section-2 {
    padding: 10px 30px !important;
    h2 {
      font-size: 40px !important;
    }
    p {
      width: 90% !important;
    }
    .boxes {
      flex-direction: column;
    }
  }
  .section-3 {
    flex-direction: column;
    gap: 10px;
    .left {
      margin: auto;
      text-align: center;
      h2 {
        width: 98% !important;
        font-size: 32px !important;
      }
      svg {
        margin: auto;
      }
    }
  }
  .section-4 {
    flex-direction: column !important;
    .right {
      margin: auto;
      text-align: center;
      h2 {
        width: 98% !important;
        font-size: 32px !important;
      }
      svg {
        margin: auto;
      }
    }
  }
  .section-5 {
    flex-direction: column !important;
    padding: 10px 30px !important;
    .top-box {
      flex-direction: column !important ;
      width: 98% !important;
      button {
        width: 100% !important;
      }
    }
    .bottom-boxes {
      flex-direction: column;
      .box-2 {
        width: 98% !important;
      }
    }
  }
  .section-6 {
    .boxes {
      flex-direction: column !important;
    }
    img {
      display: none !important;
      width: 100% !important;
    }
  }
  .section-7 {
    padding: 10px 30px !important;
    flex-direction: column-reverse !important;
    margin-bottom: 65px !important;
    img {
      width: 100%;
    }
    .left {
      text-align: center;
      margin-top: 30px !important;
      h1 {
        font-size: 40px !important;
      }
    }
  }
  footer {
    flex-direction: column !important;
    .right ul {
      text-align: center;
      flex-direction: column !important;
    }
  }
}
